Node-RED flows.json
[
    {
        "id": "8c9c0e5f.3fce9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8c1476e2.083ba8",
        "type": "ui_form",
        "z": "8c9c0e5f.3fce9",
        "name": "",
        "label": "",
        "group": "cb8a1e74.09338",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Adult Mortality",
                "value": "a",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "infant deaths",
                "value": "b",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Alcohol",
                "value": "c",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "percentage expenditure",
                "value": "d",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Hepatitis B",
                "value": "e",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Measles ",
                "value": "f",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "BMI",
                "value": "g",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "under-five deaths ",
                "value": "h",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Polio",
                "value": "i",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Total expenditure",
                "value": "j",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Diphtheria ",
                "value": "k",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": " HIV/AIDS",
                "value": "l",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "GDP",
                "value": "m",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Population",
                "value": "n",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": " thinness  1-19 years",
                "value": "o",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": " thinness 5-9 years",
                "value": "p",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Income composition of resources",
                "value": "q",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Schooling",
                "value": "r",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "a": "",
            "b": "",
            "c": "",
            "d": "",
            "e": "",
            "f": "",
            "g": "",
            "h": "",
            "i": "",
            "j": "",
            "k": "",
            "l": "",
            "m": "",
            "n": "",
            "o": "",
            "p": "",
            "q": "",
            "r": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 90,
        "y": 380,
        "wires": [
            [
                "e588debd.ac0d9"
            ]
        ]
    },
    {
        "id": "e588debd.ac0d9",
        "type": "function",
        "z": "8c9c0e5f.3fce9",
        "name": "pre token",
        "func": "//make user given values as global variables\n\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\n \n\n\n//following are required to receive a token\nvar apikey=\"txAK2chrt97MsI3DFKxs2BC1wQ5Be3OI8q3O4TIz7vSa\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 140,
        "y": 200,
        "wires": [
            [
                "7dd4f61d.ab5368"
            ]
        ]
    },
    {
        "id": "253d8e9a.1ce6d2",
        "type": "http request",
        "z": "8c9c0e5f.3fce9",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/7a07ea5b-648f-4d83-8648-9eccd34958cf/deployments/e6905f55-c87e-464b-b4e8-fa405fa48143/online",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 530,
        "y": 200,
        "wires": [
            [
                "d71a507c.4cd6",
                "9dc71998.cf2df8"
            ]
        ]
    },
    {
        "id": "74ccc569.7f1d6c",
        "type": "debug",
        "z": "8c9c0e5f.3fce9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 870,
        "y": 20,
        "wires": []
    },
    {
        "id": "9dc71998.cf2df8",
        "type": "function",
        "z": "8c9c0e5f.3fce9",
        "name": "getFrom Endpoint",
        "func": "msg.payload=msg.payload.values[0][0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 80,
        "wires": [
            [
                "74ccc569.7f1d6c",
                "9c92ba8a.9bc468"
            ]
        ]
    },
    {
        "id": "d71a507c.4cd6",
        "type": "debug",
        "z": "8c9c0e5f.3fce9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 670,
        "y": 400,
        "wires": []
    },
    {
        "id": "a45a0bdd.6a74b8",
        "type": "function",
        "z": "8c9c0e5f.3fce9",
        "name": "sendTo Endpoint",
        "func": "//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"7a07ea5b-648f-4d83-8648-9eccd34958cf\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\n\n\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\n\n\n\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[ 'Adult Mortality', 'infant deaths', 'Alcohol',\n       'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',\n       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',\n       ' HIV/AIDS', 'GDP', 'Population',' thinness  1-19 years', ' thinness 5-9 years',\n       'Income composition of resources', 'Schooling'],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r]]};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 340,
        "wires": [
            [
                "253d8e9a.1ce6d2"
            ]
        ]
    },
    {
        "id": "7dd4f61d.ab5368",
        "type": "http request",
        "z": "8c9c0e5f.3fce9",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://iam.cloud.ibm.com/identity/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 240,
        "y": 75,
        "wires": [
            [
                "a45a0bdd.6a74b8"
            ]
        ]
    },
    {
        "id": "9c92ba8a.9bc468",
        "type": "ui_text",
        "z": "8c9c0e5f.3fce9",
        "group": "cb8a1e74.09338",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Prediction",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 860,
        "y": 180,
        "wires": []
    },
    {
        "id": "cb8a1e74.09338",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "37543ee1.4cc6a2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "37543ee1.4cc6a2",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]